/* This file is for your main application css. */

@import "../node_modules/normalize-css/normalize.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";
@import "../node_modules/trix/dist/trix.css";

.message-panel {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.message-alert {
  position: fixed;
  top: 1em;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.message-alert--link {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  padding: 0.5em 4em;
  border-radius: 0.5em;
  text-decoration: none;
}

.messages {
  flex-grow: 1;
  overflow-y: scroll;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.message {
  position: relative;
  padding: 1em 1.5em;
}

.message__time {
  display: inline-block;
  font-size: 0.8em;
  color: #888;
  margin-bottom: 0.5em;
}

.message__delete {
  color: red;
  text-decoration: none;
  margin-left: 1em;
  float: right;
  background-color: transparent;
  border: none;
  padding: 0;
}

.message__edited {
  font-size: 0.8em;
  color: #888;
  text-align: right;
  margin-top: 0.5em;
  display: inline-block;
}

.message__author {
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5em;
}

.message-form {
  position: relative;
  padding: 0em 1.5em 1.5em 1.5em;
}

.message-form__fallback {
  display: block;
  height: 6em;
  width: 100%;
  box-sizing: border-box;
}

.message-date-divider {
  text-align: center;
  position: relative;
}

.message-date-divider--label {
  display: inline-block;
  padding: 1em;
  font-size: 0.8em;
  font-weight: bold;
  background: white;
}

.message-date-divider--hr {
  position: absolute;
  top: 0.75em;
  left: 0;
  right: 0;
  z-index: -1;
}

trix-editor {
  position: relative;
  z-index: 1;
  background-color: white;
}

trix-editor:not([contenteditable]) {
  display: none;
}

trix-toolbar .trix-button-group--file-tools {
  display: none;
}

[hidden] {
  display: none;
}